:root {
    --background-primary: #8583FF;
    --cor-title: #4442D4;
}

.cor-0 {
    color: #fff;
}

.cor-1 {
    color: #f0f0f0;
}

.cor-2 {
    color: #dbdbdb;
}

.cor-3 {
    color: #c7c7c7;
}

.cor-4 {
    color: #b3b3b3;
}

.cor-5 {
    color: #9e9e9e;
}

.cor-6 {
    color: #8a8a8a;
}

.cor-7 {
    color: #757575;
}

.cor-8 {
    color: #616161;
}

.cor-9 {
    color: #525252;
}

.cor-10 {
    color: #3d3d3d;
}

.cor-11 {
    color: #292929;
}

.cor-12 {
    color: #141414;
}

.cor-13 {
    color: #0000;
}