.mg-t-b-20-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mg-t-b-24-24{
    margin-top: 24px;
    margin-bottom: 24px;
}

.mg-t-b-32-32{
    margin-top: 32px;
    margin-bottom: 32px;
}

.mg-t-b-36-36{
    margin-top: 36px;
    margin-bottom: 36px;
}

.mg-t-b-40-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.mg-t-b-48-48{
    margin-top: 48px;
    margin-bottom: 48px;
}

.mg-t-b-60-60{
    margin-top: 60px;
    margin-bottom: 60px;
}

.mg-t-b-72-72{
    margin-top: 72px;
    margin-bottom: 72px;
}

.mg-t-b-80-80{
    margin-top: 80px;
    margin-bottom: 80px;
}

.mg-t-b-120-120{
    margin-top: 120px;
    margin-bottom: 120px;
}

.mg-t-b-160-160{
    margin-top: 160px;
    margin-bottom: 160px;
}

.mg-t-b-200-200{
    margin-top: 200px;
    margin-bottom: 200px;
}



